.hover12 figure {
    position: relative;
}

.hover12 figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    opacity: 0;
}

.hover12 figure:hover::before {
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
}

@-webkit-keyframes shine {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        left: 125%;
        opacity: 0;
    }
}

@keyframes shine {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        left: 125%;
        opacity: 0;
    }
}
